pkgbase = qq-electron
	pkgdesc = Tencent QQ running on the system Electron 40 runtime
	pkgver = 3.2.33_52892
	pkgrel = 1
	url = https://im.qq.com/linuxqq/index.shtml
	arch = x86_64
	license = LicenseRef-Tencent-QQ
	makedepends = git
	depends = alsa-lib
	depends = electron40
	depends = gnutls
	depends = krb5
	depends = libgcrypt
	depends = libglvnd
	depends = libnotify
	depends = libpulse
	depends = libsecret
	depends = libx11
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = gjs: GNOME Wayland screenshot support
	optdepends = libappindicator-gtk3: system tray icon support
	provides = qq
	provides = linuxqq
	conflicts = linuxqq
	conflicts = linuxqq-nt-bwrap
	options = !emptydirs
	options = !strip
	source = git+https://github.com/sukanka/qq-electron.git
	sha256sums = SKIP
	source_x86_64 = https://qqdl.gtimg.cn/qqfile/QQNT/9.9.35/beta/1763096b/linuxqq_3.2.33-52892_amd64.deb
	sha256sums_x86_64 = 502a978f2d03af9f21acefc461f9d1d1fe09b65bad620bbfcdb589a79ac53b7e

pkgname = qq-electron
