pkgbase = qq-electron
	pkgdesc = Tencent QQ running on the system Electron 40 runtime
	pkgver = 3.2.34_53644
	pkgrel = 14
	url = https://im.qq.com/linuxqq/index.shtml
	arch = x86_64
	license = LicenseRef-Tencent-QQ
	makedepends = asar
	makedepends = git
	depends = electron40
	depends = libssh2
	depends = libunwind
	optdepends = gjs: GNOME Wayland screenshot support
	optdepends = libappindicator-gtk3: system tray icon support
	provides = qq
	provides = linuxqq
	conflicts = linuxqq
	conflicts = linuxqq-nt-bwrap
	source = git+https://github.com/sukanka/qq-electron.git
	source = qq-electron.sh
	sha256sums = SKIP
	sha256sums = b8042dd1f0ce903570a3927eed4fc4e698ed94b96688b90ca5084d0684bffdf2
	source_x86_64 = https://qqdl.gtimg.cn/qqfile/QQNT/9.9.36/beta/9ee04bef/linuxqq_3.2.34-53644_amd64.deb
	sha256sums_x86_64 = 436c65e1dd28422e128a21cbddb5fe4e2e6c079d7f27fec2541e014d38cc336e

pkgname = qq-electron
